:root{
  --font-crimson-text :  'Crimson Text', serif;
  --font-mont-serrat : 'Montserrat', sans-serif;
  --font-roboto : 'Roboto', sans-serif;
  --font-saat-liches: 'Staatliches', sans-serif;
  --font-anton: 'Anton';
  --font-pacifico: 'Pacifico';
}


