<main>
  <header>
    <section class="profile-section">
      <div class="main-banner" >
        <div class="profile-container" >
          <div class="profile-photo" style="background-image: url('./assets/images/profile-picture.jpg');">
            <img src="" alt="" style="display: none">
          </div>
          <div class="profile-description">
            <h1 class="profile-name">Jonathan Güths</h1>
            <h4>Meu guia de estilos</h4>
          </div>
        </div>
      </div>
      <section class="starting">
        <div class="starting-container">
        </div>
        <a class="my-achor" href="#my-fonts-anchor">
          <button >
            Começar
          </button>
        </a>

      </section>
    </section>
  </header>
  <section id="my-fonts">
    <a id="my-fonts-anchor"></a>
    <div class="my-fonts-container">
      <h2>Minhas fontes</h2>
      <div class="fonts-grid">
        <div class="font">
          <strong>M</strong>
          <div class="font-name-container">
            <span >Mont Serrat</span>
          </div>
        </div>
        <div class="font">
          <strong>C</strong>
          <div class="font-name-container">
            <span>Crimson Text</span>
          </div>
        </div>
        <div class="font">
          <strong style="font-family: 'Crimson Text', serif">A</strong>
          <div class="font-name-container">
            <span style="font-family: 'Crimson Text', serif">Anton</span>
          </div>
        </div>
        <div class="font">
          <strong>P</strong>
          <div class="font-name-container">
            <span>Pacifico</span>
          </div>
        </div>
        <div class="font">
          <strong>S</strong>
          <div class="font-name-container">
            <span>Saat Liches</span>
          </div>
        </div>
        <div class="font">
          <strong>R</strong>
          <div class="font-name-container">
            <span>Roboto</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="my-colors">
    <div class="my-colors-container">
      <h2>Minhas cores</h2>
      <div class="my-colors-grid">
        <div class="color">
          <div style="background-color: #e03e10" class="circle"></div>
          <div class="color-name-container">
            <span>#D03e10</span>
          </div>
        </div>
        <div class="color">
          <div style="background-color: #D42058" class="circle"></div>
          <div class="color-name-container">
            <span>#D42058</span>
          </div>
        </div>
        <div class="color">
          <div style="background-color: #A83881" class="circle"></div>
          <div class="color-name-container">
            <span>#A83881</span>
          </div>
        </div>
        <div class="color">
          <div style="background-color: #6C4B8D" class="circle"></div>
          <div class="color-name-container">
            <span>#6C4B8D</span>
          </div>
        </div>
        <div class="color">
          <div style="background-color: #394F7A" class="circle"></div>
          <div class="color-name-container">
            <span>#394F7A</span>
          </div>
        </div>
        <div class="color">
          <div style="background-color: #2F4858" class="circle"></div>
          <div class="color-name-container">
            <span>#2F4858</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
